{% extends 'layout.html' %}

{% block body %}
    <h1>{{ app_data['description'] }}</h1>
    <h2>About page</h2>

    <p class="lead">This project was super fun and suprisingly took me way to long, being completely unfamililar with flask before this task and hating front end development!
        <br>Choosing this as a project felt like a good and relevent choice for me, as coming from american personally on exchange, currency exchange was genuinely hard and purposely confusing, so a microservice like this that can cover and solve these small problems would have really helped me</p>
    <div> This project utilises so many tools! Sessions from flask, essential to allowing me to keep and share different variables around global functions, which took some getting use to.</div>
    <div>I also used caching to improve optimisation jurastically in api calls and making this app much more sustainabilty, capturing the essence of what the class is about. Overall this project took me about 6 hours to fully complete and I revamped the systems I appraoched it many times, utilising different session strategies before ultimately pivoting to pure redis, as its just such a clean and easy option for a task like this, althougth if I were to improve, I'd store all the non imporant infoa about the user on cookies instead of storing everything server side, it was just so much easier to do it that way for this approach. I am very happy with the product and I hope you like it as well!</div>
            <div ><b>This project used a template and REQUIRES REDIS TO RUN you MUST have redis installed and running, either by going into the terminal and typing redis-server or ubuntu on windows and using redis-server as this appraoch did not put anything on the cloud, and thus this prelim is required to run everything properly</b></div>
{% endblock %}