{% extends 'layout.html' %}

{% block body %}
    <h1>{{ app_data['description'] }}</h1>
    <h2>Services page</h2>
    <p class="lead">Use this document as a way to quickly start any new project.
        <br> All you get is this text and a mostly barebones HTML document.</p>
    <div> Now updated to Bootstrap (Version 5.3.0) and jQuery 3.6.3</div>
    <input type="search" list="currency" placeholder="Pick a common currency">
    <datalist id="currency">
        <option value="US dollar (USD)">
        <option value="Euro (EUR)">
        <option value="Japanese yen (JPY)">
        <option value="Pound sterling (GBP)">
        <option value="Australian dollar (AUD)">
        <option value="Canadian dollar (CAD)">
        <option value="Swiss franc (CHF)">
        <option value="Chinese renminbi (CNH)">
    </datalist>
{% endblock %}